html{
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body{
  padding: 0;
  margin: 0;
  background-color: #abb3fa;
  font-size: 20px;
  line-height: 1.5;
  font-family: "Roboto", "Arial", sans-serif;
  color: #000;
}
.container{
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.icon {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  line-height: inherit;
  display: inline-block;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}
.top {
  display: flex;
  align-items: center;
  background-image: linear-gradient( to left, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("img/background.jpg");
  background-position: center center;
  background-size: cover;
  padding: 50px;
  color: #fff;
  margin-top: 50px;
}
.weather {
  display: flex;
  align-items: center;
}
.todays-date {
  margin-right: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.todays-date h2 {
  margin: 0;
  font-size: 45px;
  font-weight: 300;
  margin-top: 10px;
}
.todays-date i {
  font-size: 45px;
}
.todays-date h2 sup {
  font-size: 25px;
}
.day {
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.day p {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0;
  margin-top: 8px;
}
.day p sup {
  font-size: 10px;
}
.current-time {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.month-week {
  margin-right: 30px;
}
.month-week p {
  color: #aaa;
  font-weight: 600;
  font-size: 18px;
  text-align: end;
  margin: 0;
  margin-top: 5px;
}
.main-date{
  font-size: 55px;
  font-weight: lighter;
  margin: 0;
}
.main-date span {
  font-size: 18px;
  margin-left: -10px;
}
.project-main{
  background-color: #fff;
}
.main-container {
  display: flex;
  align-items: center;
  padding: 30px 0 10px 40px;
  overflow: auto;
}
.main-container::-webkit-scrollbar {
  display: none;
}
.main-container {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.themes,
.videos-list {
  display: flex;
  align-items: center;
  margin: 0;
  margin-left: 50px;
  padding: 0;
  list-style-type: none;
  overflow: auto;
}
.videos-list::-webkit-scrollbar {
  display: none;
}
.videos-list {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.videos-item {
  padding: 30px 0;
}
.themes-list:not(:last-child) {
  margin-right: 40px;
}
.themes-list-link {
  color: #aaa;
  text-decoration: none;
  transition: color 0.3s ease;
}
.themes-list-link:hover {
  color: #000;
}
.themes-link-active {
  font-weight: bold;
  font-size: 25px;
  color: #222;
}
.videos-item-bg {
  position: relative;
  z-index: 1;
  width: 200px;
  height: 100px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  box-shadow: 0 20px 20px -15px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: transform 0.5s ease;
}
.videos-item-bg::before {
  background-image: url("../img/play-circle-sharp.svg");
  width: 40px;
  height: 40px;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  transition: opacity 0.3s ease;
  opacity: 0;
}
.videos-item-bg:hover::before {
  opacity: 1;
}
.videos-item-player {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.videos-item:nth-child(1) .videos-item-bg {
  background-image: linear-gradient(to right,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)),
  url("../img/video-local-programming.jpg");
}
.videos-item:nth-child(2) .videos-item-bg {
  background-image: linear-gradient(to right,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)),
  url("../img/video-family-guy.jpg");
}
.videos-item:nth-child(3) .videos-item-bg {
  background-image: linear-gradient(to right,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)),
  url("../img/video-simpsons.jpg");
}
.videos-item:nth-child(4) .videos-item-bg {
  background-image: linear-gradient(to right,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)),
  url("../img/video-futurama.jpg");
}
.videos-item:nth-child(5) .videos-item-bg {
  background-image: linear-gradient(to right,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)),
  url("../img/video-american-dad.jpg");
}
.videos-item-bg:hover {
  z-index: 55;
  transform: scale(1.2);
}
.videos-item-active .videos-item-bg{
  z-index: 50;
  transform: scale(1.2);
}
.videos-item-time {
  margin-bottom: 1px;
  color: #aaa;
  font-size: 14px;
}
.videos-item-name {
  font-size: 14px;
  color: #222;
  margin: 0;
}
.audio-content{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0 30px 40px;
  background-color: #fff;
  border-top: 1px solid #8f8f8f;
}
.section-breaker{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 6px;
  margin: 0;
  border: none;
  background-color: #82bceb;
  border-radius: 5px;
}
.material-icons{
  font-size: 36px;
  color: #82bceb;
}
.play-audio{
  width: 300px;
  margin: 0 40px;
}
.audio-info{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.audio-info img{
  display: block;
  width: 60px;
  height: 60px;
  margin-right: 15px;
  box-shadow: 0px 10px 20px -5px rgba(0,0,0,0.7);
}
.audio-text span{
  display: block;
}
.audio-name{
  font-size: 16px;
}
.audio-author{
  font-size: 14px;
  color: #ccc;
}
.playlist{
  display: flex;
  align-items: center;
  width: 320px;
  overflow: auto;
}
.playlist::-webkit-scrollbar {
  display: none;
}
.playlist {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.playlist-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.item-avatar{
  position: relative;
  width: 90px;
  height: 90px;
  padding: 0;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}
.item-avatar::before{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color:rgba(0, 0, 0, 0.5);
  content: "";
}
.avatar{
  width: 90px;
  height: 90px;
  box-shadow: 0px 10px 20px -5px rgba(0,0,0,0.7);
}
.play-icon{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}
.item-avatar:hover .play-icon{
  opacity: 1;
}
.item-name{
  display: block;
  padding: 5px 0;
  font-size: 14px;
}
